@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Questrial&family=Roboto&display=swap");

input:focus,
textarea:focus {
  outline: none;
}

.container {
  position: relative;
  width: 99.85%;
  height: 127px;
  border: 1px solid #c4c4c4;
  border-bottom: none;
  border-right: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 10;

  & textarea {
    font-size: 20px;
    font-family: "Roboto", serif;
    padding: 18px 34px 0;
    margin-left: 34px;
    height: 41px;
    width: 70%;
    border: 1px solid #c4c4c4;
    border-radius: 24px;
    resize: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  & span {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    margin-left: 24px;
    color: #6d5aa5;
    font-weight: 600;
    font-size: 20px;
  }
}
