body{
  overflow: hidden;
}


.container {
  height: 100%;
  width: 100%;
  border-right: 1px solid #c4c4c4;

  &_purple {
    height: 118px;
    width: 100%;
    background-color: #b8bce3;
  }
  
  &_chats{
    height: calc(100% - 118px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-thumb {
      border:3px solid rgba(205, 205, 205, 0);
      background-clip: padding-box;
      background-color: #A4A4A4;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(205, 205, 205, 0.25); 
    }

    &_wrap{
      width: 100%;
      position: absolute;
    }
  }
}

@media screen and(max-width:650px){
  .container{
    height: 90vh;
    display: block;
  }

  .disabled{
    display: none;
  }
}


